# Configuración de desarrollo
DEBUG=True
SECRET_KEY=tu-clave-secreta-aqui-para-desarrollo
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://usuario:password@localhost:5432/produccion

# Configuración para producción en Render se establece automáticamente
# DEBUG=False
# ALLOWED_HOSTS=.onrender.com
