<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>

    <title>AgroSoft</title>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="login-box">
            <h4>Cambiar Contraseña</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input placeholder="Nueva Contraseña" type="password" name="nueva_contrasena" id="nueva_contrasena" required minlength="8">
                </div>
                <div class="form-group">
                    <input placeholder="Confirmar Contraseña" type="password" name="confirmar_contrasena" id="confirmar_contrasena" required minlength="8">
                </div>
                <button type="submit" class="button-send">Cambiar Contraseña</button>
            </form>
            <p class="description">¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
        </div>
    </div>
</body>
</html>
