<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>AgroSoft</title>
</head>
<body>
    <div class="contenedor-home">
        <div class="navbar">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"> <img class="logo" src="{% static 'img/logo.svg' %}"> Cerrar sesión</a>
            {% endif %}
            <div class="navbar-left">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'productos' %}">Productos</a>
            </div>
        </div>

        <div class="sub-navbar">
            <a class="btn-create" href="{% url 'solicitar_recomendacion' %}">+Cultivar</a>
        </div>

        <div class="container">
            <h4>Recomendaciones del dia de hoy</h4>
            <ul>
                <li><strong>Cultivo:</strong> {{ cultivo }}</li>
                <li><strong>Cantidad:</strong> {{ cantidad }} kg</li>
                <li><strong>Fecha de siembra:</strong> {{ fecha_siembra|date:"d/m/Y" }}</li>
                <li><strong>Fecha estimada de cosecha:</strong> {{ fecha_cosecha|date:"d/m/Y" }}</li>
                <li><strong>Días de cultivo:</strong> {{ dias }} días</li>
                <li><strong>Viabilidad:</strong> {{ viabilidad }}</li>
                <li><strong>Clima actual:</strong> {{ clima }}</li>
            </ul>
        </div>

        <div class="containers">
            <div class="container-graphics">
                <h3>Graficas</h3>
            </div>
            <div class="container-weather">
                <h3>Clima</h3>
            </div>
        </div>
    </div>
</body>
</html>
