<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>AgroSoft</title>
</head>
<body>
    <div class="contenedor-home">
        <div class="navbar">
            <div class="navbar-left">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
                {% endif %}
            </div>
            <div class="navbar-right">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'productos' %}">Productos</a>
            </div>
        </div>

        <div class="sub-navbar">
            <p class="combo-box">Zona De Cultivo Principal</p>
        </div>

        <div class="container">
            <h3>Bienvenido al sistema de producción agrícola</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <p>Hola, {{ user.username }}.</p>
                {% if user.tipo == 'agricultor' %}
                    <a class="btn" href="{% url 'solicitar_recomendacion' %}">Solicitar recomendación de cultivo</a>
                {% endif %}
            {% else %}
                <p>Por favor, <a href="{% url 'registro' %}">regístrate</a> o <a href="{% url 'login' %}">inicia sesión</a>.</p>
            {% endif %}
        </div>

        <div class="containers">
            <div class="container-graphics">
                <h3>Graficas</h3>
            </div>
            <div class="container-weather">
                <h3>Clima</h3>
            </div>
        </div>
    </div>
</body>
</html>
