<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <title>AgroSoft</title>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="contenedor">
        <p class="welcome"> <img class="logo" src="{% static 'img/logo.svg' %}"> Bienvenido a AgroSoft!</p>
        <div class="login-box">
            <h4>Iniciar sesión</h4>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" id="username" required placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" required placeholder="Contraseña">
                </div>
                <div class="buttons">
                    <button type="submit" class="button-login">Iniciar Sesion</button>
                    <a class="button-register" href="{% url 'registro' %}">Registrarse</a>
                    <a class="button-forget" href="{% url 'recuperar_contrasena' %}">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
