<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <title>AgroSoft</title>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="login-box">
                    <h3>Recuperar Contraseña</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="message-forget">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input placeholder="Correo Electronico" type="text" name="username" id="username" required>
            </div>
            <button type="submit" class="btn-send">Enviar Solicitud</button>
        </form>
        <p class="descripcion">¿Ya tienes cuenta? <a class="btn-back" href="{% url 'login' %}">Iniciar Sesión</a></p>
    </div>
</body>
</html>
