<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <title>AgroSoft</title>
    <link rel="icon" type="logo/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="login-box">
            <h4>Recuperar Contraseña</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" id="username" required placeholder="Usuario">
                </div>
                <button type="submit" class="button-send">Enviar Solicitud</button>
            </form>
            <p class="description">¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
        </div>
    </div>
</body>
</html>
